body {
    background-color: rgba(191, 224, 223, 1);
}
.Title {
    background-color: rgba(138, 47, 56, 1);
    color: rgba(233, 233, 230, 1);
    font-size: 55px;
    margin: -20px 500px;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
}
.Home {
    width: 55px;
}
.Seach {
    position: absolute;
    top: 20px;
    right: 80px;
}
.Menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
}
.column {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 600px;
}
.buttons {
    color: rgba(233, 233, 230, 1);
    background-color: rgba(79, 58, 102, 1);
    font-size: 2rem;
    text-align: center;
    line-height: 2;
    margin: 3px;
    padding: 5px;
    border-radius: 50px;
}